<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Iteration</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style-for-input.css">
    <link rel="stylesheet" href="/css/style-for-main-form.css">


</head>
<body>
<div class="class">
    <form action="/" method="post">
        <label id="x00" for="x00">x00</label>
        <input class="style-input" type="text" name="x00" size="1" value="5">
        <label id="x01" for="x01">x01</label>
        <input class="style-input" type="text" name="x01" size="1" value="1">
        <label id="x02" for="x02">x02</label>
        <input class="style-input" type="text" name="x02" size="1" value="-1">
        <label id="x03" for="x03">x03</label>
        <input class="style-input" type="text" name="x03" size="1" value="1">

        <label > = 3*m</label>

        <p></p>

        <label id="x10" for="x10">x10</label>
        <input class="style-input" type="text" name="x10" size="1" value="1">
        <label id="x11" for="x11">x11</label>
        <input class="style-input" type="text" name="x11" size="1" value="-4">
        <label id="x12" for="x12">x12</label>
        <input class="style-input" type="text" name="x12" size="1" value="1">
        <label id="x13" for="x13">x13</label>
        <input class="style-input" type="text" name="x13" size="1" value="-1">

        <label id="b1" for="b1"> = m-6</label>

        <p></p>

        <label id="x20" for="x20">x20</label>
        <input class="style-input" type="text" name="x20" size="1" value="-1">
        <label id="x21" for="x21">x21</label>
        <input class="style-input" type="text" name="x21" size="1" value="1">
        <label id="x22" for="x22">x22</label>
        <input class="style-input" type="text" name="x22" size="1" value="4">
        <label id="x23" for="x23">x23</label>
        <input class="style-input" type="text" name="x23" size="1" value="1">

        <label id="b2" for="b2"> = 15-m</label>

        <p></p>

        <label id="x30" for="x30">x30</label>
        <input class="style-input" type="text" name="x30" size="1" value="1">
        <label id="x31" for="x31">x31</label>
        <input class="style-input" type="text" name="x31" size="1" value="2">
        <label id="x32" for="x32">x32</label>
        <input class="style-input" type="text" name="x32" size="1" value="1">
        <label id="x33" for="x33">x33</label>
        <input class="style-input" type="text" name="x33" size="1" value="-5">

        <label id="b3" for="b3"> = m+2</label>

        <p></p>
        <label>Initial approximation : х(0) = (0,7m; 1; 2; 0,5) and accuracy = 0,005</label>
        <p></p>

        <label id="b0" for="b0">m - your № in list</label>
        <input class="style-input" type="text" name="b0">

        <input class="main-submit" type="submit">

    </form>
</div>

</body>
</html>